body{
    background: grey;
}

input{
    border: 1px solid black;
}

.wrap{
    width: 300px;
    background: black;
    margin: 0px auto;
}

.display-ios{
    background: black;
    height: 41px;
    width: 300px;
    color: white;
    text-align: right;
    font-size: 40px;
    padding-top: 70px;
}

.btns-ios{
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    width: 75px;
    height: 75px;
    font-size: 20px;
}

.zero-ios{
    width: 150px;
}

.ios-hightGrey-color{
    background: #c9cacc;
}

.ios-grey-color{
    background: #d3d4d6;
}

.ios-orange-color{
    background: #f98d11;
}

